<div class="follow col-md-6 col-md-offset-3">
    <h1><%= @user.name %> following</h1>
    <% @followings.each do |f| %>
        <div class="container">
            <%= gravatar_for f %> 
            <%= link_to f.name, f %>
        </div>
    <% end %>
</div>


